body{
  background: #02010a;
  font-family: 'Dancing Script';
  padding: 10px;
  margin: 10px;
  text-align: center;
}


header{
  background: #5b7989;
  position: relative;
  color: white;
  text-align: left;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px #02010a;
  animation: miAnimacion 1s;
}


@-webkit-keyframes miAnimacion{
  0%{
    margin-top: 150%;
  }

  60%{
    margin-top: -5%;
  }

  100%{
    margin-top: 0%;
  }
}

.cabecera{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 10px;
}

.titulo{
  width: 50%;
  vertical-align: middle;
}

header h1{
  text-shadow: 2px 2px #02010a;
  font-size: 3em;
}


footer h3{
  font-size: 3em;
}

footer p{
  font-size: 1.5em;
}

.nav{
  width: 45%;
  text-align: right;
  vertical-align: middle;
  padding: 2.1%;
  word-spacing: 20px;
}

.nav a{
  color: white;
  text-decoration: underline;
  vertical-align: middle;
  font-size: 2em;
}

.nav a:hover{
  color: white;
  text-decoration: none;
}



.center{
  width: 100%;
  background: #d5c75f;
  border: 1px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  font-size: 1.8em;
}

.center div{
  width: 30%;
  padding: 1.5%;
  text-align: center;
}

.center div img{
  width: 100%;
}

.imagen1 {
  filter: blur(10px);
}

.center div:nth-child(even){
  filter: grayscale(100%);
}

.imagen3{
  filter: sepia(90%);
}


img{
  filter: drop-shadow(2px 2px 2px #02010a);
}


footer{
  background: #C6d5c5;
  border-radius: 0 0 10px 10px;
  text-shadow: 2px #02010a;
}

.pie{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-left: 5%;
}

.pie div{
  width: 21%;
  padding: 2%;
}

.pie .column1 img {
  width: 20px;
}

.pie .column1 a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width:900px){
  .contenido{

  }
}


@media (max-width:900px){
  .contenido{
    width: 100%;
  }

  header{
    text-align: center;
  }

  .titulo{
    width: 100%;
  }

  .nav{
    width: 100%;
    text-align: center;
  }

  .center{
    padding: 0%;
  }

  .center div {
    width: 100%;
    padding: 5%;
  }

  img {
    width: 100%;
  }

  .pie div{
    width: 90%;
    padding: 2%;
    text-align: left;
  }
}
